---
layout: layouts/page.njk
title: Tilbudsberegner
templateClass: tmpl-offer
eleventyNavigation:
  key: Tilbudsberegner
  order: 6
---

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>Med vores tilbudsberegner kan du undersøge vores priser:</p>
      <p>Vores timepriser:</p>
      <u>
        <li>
          Projektledelse: 1100 kr.
        </li>
        <li>
          Rådgivning: 1100 kr.
        </li>
        <li>
          Test: 700 kr.
        </li>
      </u>
      <p>Tidsenheder for test</p>
      <u>
        <li>Timer til test pr. side: 2</li>
        <li>Timer til review består af en fjerde del af tiden af testen på en side</li>
        <li>Timer til projektledelse består af 10% af de samlede timer</li>
      </u>
    </div>
    <div class="col-sm">
      <div class="card py-4 px-4">
      <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Antal sider</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Øvrig test</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">Samling af rapport</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck3">
        <label class="form-check-label" for="exampleCheck3">Gentest af rettelser</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck4">
        <label class="form-check-label" for="exampleCheck4">Rådgivning om tilgængelighedserklæring</label>
      </div>
      <div class="dropdown-divider"></div>
      <button onclick="generateReceipt()" type="button" class="btn btn-primary">Beregn Pris</button>
      <div id="last-divider" class="dropdown-divider"></div>
    </form>
    </div>
    </div>
  </div>
</div>
<script>
const hourlyRate = 1100;
const hourlyRateTest = 700;

function generateReceipt(){
  const receiptTableTotal = document.getElementById('receipt-table');
  const receiptTable = document.getElementById('receipt-table');
  const receipt = document.getElementById('receipt-table-body');
  
  if(receipt === null){
    addReceiptTable();
  }

  if(receiptTableTotal !== null){
    resetReceiptTotal();
  }

  if(receipt !== null){
    resetReceipt();
  }

  let sumOfPrice = 0;
  let sumOfHours = 0;
  const hoursPrep = 4;
  const hoursRapport = 1;
  const hoursCounseling = 1;
  const numberOfSitesToBeTested = getNumberOfSites();
  const radioButton1 = getValueOfRadioButton(1);
  const radioButton2 = getValueOfRadioButton(2);
  const radioButton3 = getValueOfRadioButton(3);
  const radioButton4 = getValueOfRadioButton(4);

  sumOfHours+=numberOfSitesToBeTested*2;
  sumOfHours+=hoursPrep;

  sumOfPrice+=numberOfSitesToBeTested*2*hourlyRate;
  sumOfPrice+=hoursPrep*hourlyRate;

  addRow('Forberedelse', hoursPrep, hourlyRate, hoursPrep*hourlyRate);
  addRow('Test af sider', numberOfSitesToBeTested*2, hourlyRateTest, numberOfSitesToBeTested*2*hourlyRateTest);

  if(radioButton1){
    sumOfHours+=numberOfSitesToBeTested*2;
    sumOfPrice+=numberOfSitesToBeTested*2*hourlyRateTest;
    addRow('Øvrig test', numberOfSitesToBeTested*2, hourlyRateTest, numberOfSitesToBeTested*2*hourlyRateTest);
  }

  if(radioButton2){
    sumOfHours+=hoursRapport;
    sumOfPrice+=hoursRapport*hourlyRate;
    addRow('Samling af rapport', hoursRapport, hourlyRate, hourlyRate);
  }

  if(radioButton3){
    sumOfHours+=numberOfSitesToBeTested;
    sumOfPrice+=numberOfSitesToBeTested*hourlyRateTest;
    addRow('Gentest af rettelser', numberOfSitesToBeTested, hourlyRateTest, numberOfSitesToBeTested*hourlyRateTest);
  }

  if(radioButton4){
    sumOfHours+=hoursCounseling;
    sumOfPrice+=hoursCounseling*hourlyRate;
    addRow('Rådgivning om tilgængelighedserklæring', hoursCounseling, hourlyRate, hourlyRate);
  }

  let projectManagementHours = sumOfHours*0.1;
  addRow('Projektledelse', projectManagementHours.toFixed(2), hourlyRate, hourlyRate*projectManagementHours.toFixed(2));
  sumOfPrice+=projectManagementHours*hourlyRate;

  addTotalTable(sumOfPrice, 25);
}

function getValueOfRadioButton(radioButtonNumber){
  return document.getElementById(`exampleCheck${radioButtonNumber}`).checked;
}

function getNumberOfSites() {
  const myDropdown = document.getElementById('exampleFormControlSelect1');
  return parseInt(myDropdown.value);
}

function addRow(desc, hours, hourlyRate, total){
  const receiptTable = document.getElementById('receipt-table-body');
  let htmlElement = document.createElement("tr");
  let html = `  <td class="left strong">${desc}</td>`;
      html+= `  <td class="right">${hourlyRate}.00 kr.</td>`;
      html+= `  <td class="center">${hours}</td>`;
      html+= `  <td class="right">${total}.00 kr.</td>`;

  htmlElement.innerHTML = html;
  receiptTable.appendChild(htmlElement);
}

function addReceiptTable(){
  const divider = document.getElementById('last-divider');
  let htmlElement = document.createElement("div");
  htmlElement.className = "table-responsive-sm";
  htmlElement.id = "receipt-table"

  let html ='  <table class="table table-striped">';
      html+='    <thead>';
      html+='    <tr>';
      html+='      <th>Opgave</th>';
      html+='      <th class="right">Timepris</th>';
      html+='      <th class="center">Antal Timer</th>';
      html+='      <th class="right">Total</th>';
      html+='    </tr>';
      html+='    </thead>';
      html+='    <tbody id="receipt-table-body">';
      html+='    </tbody>';
      html+='  </table>';
  
  htmlElement.innerHTML = html;
  divider.after(htmlElement);
}

function addTotalTable(total, discountInPercent){
  const receiptTable = document.getElementById('receipt-table');
  let htmlElement = document.createElement("div");
  let discount = total * discountInPercent / 100; 
  discount = discount.toFixed(2);

  htmlElement.className = "col-lg-6 col-sm-5 ml-auto";
  htmlElement.id = "total-table";

let html =`<table class="table table-clear">`
    html+=` <tbody>`
    html+=`   <tr>`
    html+=`     <td class="left">`
    html+=`       <strong>Subtotal</strong>`
    html+=`     </td>`
    html+=`     <td class="right">${total}.00 kr.</td>`
    html+=`   </tr>`
    html+=`   <tr>`
    html+=`     <td class="left">`
    html+=`       <strong>Discount (${discountInPercent}%)</strong>`
    html+=`     </td>`
    html+=`     <td class="right">${discount}.00 kr.</td>`
    html+=`   </tr>`
    html+=`   <tr>`
    html+=`   <td class="left">`
    html+=`     <strong>Total</strong>`
    html+=`   </td>`
    html+=`   <td class="right">`
    html+=`     <strong>${total - discount}.00 kr.</strong>`
    html+=`   </td>`
    html+=`   </tr>`
    html+=` </tbody>`
    html+=`</table>`;


  htmlElement.innerHTML = html;
  receiptTable.after(htmlElement);
}

function resetReceiptTotal(){
  const receiptTableTotal = document.getElementById('total-table');
  receiptTableTotal.innerHTML = '';
}

function resetReceipt(){
  const receiptTable = document.getElementById('receipt-table-body');
  receiptTable.innerHTML = '';
}

</script>