---
layout: layouts/page.njk
title: Tilbudsberegner
templateClass: tmpl-offer
eleventyNavigation:
  key: Tilbudsberegner
  order: 6
---

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p>Med vores tilbudsberegner kan du undersøge vores priser:</p>
      <p>Vores timepriser:</p>
      <u>
        <li>
          Projektledelse: 1100 kr.
        </li>
        <li>
          Rådgivning: 1100 kr.
        </li>
        <li>
          Test: 700 kr.
        </li>
      </u>
      <p>Tidsenheder for test</p>
      <u>
        <li>Timer til test pr. side: 2</li>
        <li>Timer til review består af en fjerde del af tiden af testen på en side</li>
        <li>Timer til projektledelse består af 10% af de samlede timer</li>
      </u>
    </div>
    <div class="col-sm">
      <div class="card py-4 px-4">
      <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">Email addresse</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Antal sider</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Øvrig test</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Samling af rapport</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Gentest af rettelser</label>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Rådgivning om tilgængelighedserklæring</label>
      </div>
      <div class="dropdown-divider"></div>
      <button onclick="resetReceiptTable()" type="button" class="btn btn-primary">Beregn Tilbud</button>
      <button onclick="addRow()" type="button" class="btn btn-primary">Add Row</button>
      <div class="dropdown-divider"></div>


<div class="table-responsive-sm">
<table class="table table-striped">
<thead>
<tr>
<th>Opgave</th>
<th class="right">Timepris</th>
  <th class="center">Antal Timer</th>
<th class="right">Total</th>
</tr>
</thead>
<tbody id="receipt-table-body">
<tr>
<td class="left strong">Test af side</td>
<td class="right">999.00 kr.</td>
  <td class="center">1</td>
<td class="right">999.00 kr.</td>
</tr>
</tbody>
</table>
</div>




    </form>
    </div>
    </div>
  </div>
</div>
<script>
const hourlyRate = 1100;
const hourlyRateTest = 700;

function getNumberOfSites() {
  const myDropdown = document.getElementById('exampleFormControlSelect1');
  return htmlContent = parseInt(myDropdown.value);
}

function addRow(){
  const receiptTable = document.getElementById('receipt-table-body');
  let htmlElement = document.createElement("tr");
  let html = '  <td class="left strong">Test af side</td>';
      html+= '  <td class="right">999.00 kr.</td>';
      html+= '  <td class="center">1</td>';
      html+= '  <td class="right">999.00 kr.</td>';

  htmlElement.innerHTML = html;
  receiptTable.appendChild(htmlElement);
}

function resetReceiptTable(){
  const receiptTable = document.getElementById('receipt-table-body');
  receiptTable.innerHTML = '';
}

</script>


